<div class="container__carrusel">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" >
                <img src="../../../assets/NC1.jpg" class="d-block w-100" alt="Primer Slide">
            </div>
            <div class="carousel-item" >
                <img src="../../../assets/NC2.jpg" class="d-block w-100" alt="Segundo Slide">
            </div>
            <div class="carousel-item" >
                <img src="../../../assets/NC4.jpg" class="d-block w-100" alt="Tercer Slide">
            </div>
            <div class="carousel-item" >
                <img src="../../../assets/NC5.jpg" class="d-block w-100" alt="Cuarto Slide">
            </div>
            
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</div>

<section id="main-pag" style="margin-bottom: 60px;">
<div class="container">
    <div class="text-center"> 
        <h2 class="title-one" style="margin-top: 130px; margin-bottom: 60px;">EDUCACIÓN VIRTUAL</h2>
    </div>
    <div class="content-lg container">
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-sm-6">
                <small style="color: #672a8c; font-style: italic; font-size: .975em">"Conocimiento con valores para un mundo mejor"</small>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="linea-subtitle"></div>
                <p style="text-align: justify; margin-right: 70px; font-size: 19px; line-height: 140%;">El Colegio Corazón de Jesús ha diseñado un Modelo de Educación Virtual para seguir preparando a nuestros estudiantes en los retos que enfrentarán a futuro.
                Junto a nuestros profesores seguimos desarrollando las competencias y habilidades definidas en nuestro plan de estudios, considerando el ritmo de cada estudiante, orientándolos y resolviendo sus dudas utilizando <strong>herramientas digitales</strong> para un aprendizaje eficaz y divertido.
                <br><br>Nuestra Institución Educativa utiliza los servicios de Google Workspace for Education utilizando herramientas como Classroom, Formularios de Google, pizarra colaborativa Jamboard, Google Sites entre otras herramientas que permite agilizar la enseñanza y promover el aprendizaje de forma segura.
                <br><br>Nuestra plataforma se complementa con el servicio licenciado de Zoom para las videoconferencias.</p>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 31rem;">
                    <img src="../../../assets/us0.jpg" class="card-img-top" alt="Subt-Image">
                    <div class="card-body">
                        <p class="card-text">"Les aseguro que a menos que ustedes cambien y se vuelvan como niños, no entrarán en el reino de los cielos"<br><small class="text-muted">Mateo 18:1-4</small></p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>              
</section>

<section class="row more-services" style="background-color: #e2e2e2;">
    <div class="container" style="width: 70%;">
        <div class="row sectionTitle">
            <h2 class="title-one" style="margin-top: 70px; margin-bottom: 60px;">HERRAMIENTAS DIGITALES</h2>
            <p style="font-size: 20px;"></p>
        </div>
        <div class="row more-service-blocks">
            <div class="col-sm-4 service-block2">
                <div class="row icon-holder"><i class="fa fa-users"></i></div>
                <h4 class="this-title">Google Classroom</h4>
              <p class="this-summary">Los alumnos podrán hacer un seguimiento del trabajo y el material de clase, enviar tareas, recibir comentarios y notas sobre sus trabajos.</p>
            </div>
            <div class="col-sm-4 service-block2">
                <div class="row icon-holder"><i class="fa fa-video-camera"></i></div>
                <h4 class="this-title">Zoom</h4>
              <p class="this-summary">Plataforma para videoconferencias donde se desarrollarán las clases. La institución cuencia con una <strong style="color: #672a8c;">licencia</strong>.</p>
            </div>
            <div class="col-sm-4 service-block2">
                <div class="row icon-holder"><i class="fa fa-whatsapp"></i></div>
                <h4 class="this-title">WhatsApp</h4>
              <p class="this-summary">Aplicación de mensajería instantánea para mantenernos en contacto con nuestros alumnos ante cualquier duda por parte de él o sus apoderados.</p>
            </div>
            <div class="col-sm-4 service-block2">
                <div class="row icon-holder"><i class="fa fa-file-text-o"></i></div>
                <h4 class="this-title">Google Forms</h4>
              <p class="this-summary">Aplicación de Google con feedback immediato para realizar las evaluaciones de los alumnos.</p>
            </div>
            <div class="col-sm-4 service-block2">
                <div class="row icon-holder"><i class="fa fa-trophy"></i></div>
                <h4 class="this-title">Kahoot</h4>
              <p class="this-summary">Una interactiva plataforma de juegos que permitirá un aprendizaje y reforzamiento eficaz y divertido.</p>
            </div>
            <div class="col-sm-4 service-block2">
                <div class="row icon-holder"><i class="fa fa-desktop"></i></div>
                <h4 class="this-title">Jamboard</h4>
              <p class="this-summary">Una pizarra digital de Google pensada para la colaboración y el trabajo a distancia de manera online.</p>
            </div>
        </div>
    </div>
</section>

<section id="blog" style="margin-top: 50px;">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="single-blog">
                <img src="../../../assets/us1.jpg" alt="" />
                <h2>Reglamento Interno</h2>
                <ul class="post-meta">
                    
                    <li><i class="fa fa-clock-o"></i><strong> Publicado el</strong> 15 Marzo 2014</li>
                </ul>
                <div class="blog-content">
                    <p style="line-height: 140%;">El Reglamento Interno es un documento técnico-administrativo que norma el funcionamiento organizativo y pedagógico de la IEP “Corazón de Jesús”.  Así mismo, permite armonizar las actividades, relaciones y funciones de los  diferentes estamentos y personas que integran la Institución.</p>
                </div>
                <a href="https://drive.google.com/file/d/1u2wizaiBki6juD3qXgdtI-GO0M_Pho9z/view" class="btn btn-primary" data-toggle="modal" data-target="#blog-detail">Ver Detalles &raquo;</a>
            </div>
            <div class="modal fade" id="blog-detail" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <img src="https://drive.google.com/file/d/1u2wizaiBki6juD3qXgdtI-GO0M_Pho9z/view" alt="" />
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="single-blog">
                <img src="../../../assets/us2.jpg" alt="" />
                <h2>Libro de Reclamaciones</h2>
                <ul class="post-meta">
                    <li><i class="fa fa-clock-o"></i><strong> Publicado el</strong> 23 Septiembre 2015</li>
                </ul>
                <div class="blog-content">
                    <p style="line-height: 140%;"> Conforme a lo establecido en la Ley Nº 29571 Código de Protección y Defensa del consumidor, contamos con un Libro de Reclamaciones Virtual, a través del cual podrá expresar su disconformidad respecto a los servicios o productos contratados o sobre la atención recibida por el personal de nuestra institución.</p>
                </div>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScwo0HQLYCu8P_HRZODq_H8vurYmekGjtHJRwLwDj4t3BqHnA/viewform" class="btn btn-primary" data-toggle="modal" data-target="#blog-two">Ver Detalles &raquo;</a>
            </div>
            <div class="modal fade" id="blog-two" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <img src="https://docs.google.com/forms/d/e/1FAIpQLScwo0HQLYCu8P_HRZODq_H8vurYmekGjtHJRwLwDj4t3BqHnA/viewform" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  


<footer>
    <div class="social" style="text-align: center; color: rgb(141, 140, 140);">
        <br><p>Copyright © 2022 | Todos los derechos reservados</p>
    </div>
</footer>