<body>
    <section>
        <div class="row">
            <div class="col-md-3">
                <div class="menu">
                    <a href="admin/elegir" class="button2"><i class="far fa-calendar-check" id="iconcito"></i>Registro de Asistencia</a>
                </div>
                <div class="footer">
                    Corazón de Jesús © 2022<br>
                    Todos los derechos reservados
                </div>
            </div>
            <div class="col-md-9">
                <div class="datos">
                    <div class="boxie">
                    <div class="fila">
                        <div class="cardcita" style="background: linear-gradient(to right, #6F0B5B 50%, rgb(255, 255, 255) 50%); ">
                                <div class="logazo">
                                    <i class="fas fa-graduation-cap"></i>
                                </div>
                                <div class="contenido">
                                <h3>280</h3>
                                <p>estudiantes</p>
                                </div>
                        </div>
                        <div class="cardcita" style="background: linear-gradient(to right, #A26AAB 50%, rgb(255, 255, 255) 50%); ">
                                <div class="logazo">
                                    <i class="fas fa-school"></i>
                                </div>
                                <div class="contenido">
                                    <h3>20</h3>
                                    <p>docentes</p>
                                </div>
                            
                            </div>
                        <div class="cardcita" style="background: linear-gradient(to right, #E8B249 50%, rgb(255, 255, 255) 50%); ">
                                <div class="logazo">
                                    <i class="fas fa-user-cog"></i>
                                </div>
                                <div class="contenido">
                                    <h3>2</h3>
                                    <p>administradores</p>
                                </div>
                        </div>
                    </div>
                    
                </div>
                <img src="../../../assets/imageB.png" class="imageB" alt="Imagen Bienvenida">
                </div>
            </div>
        </div>
    </section>
</body>