<body>
    <section>
        <div class="row">
            <div class="col-md-3">
                <div class="menu">
                    <a href="admin/elegir" class="button1"><i class="far fa-calendar-check" id="iconcito" style="color: white;"></i>Registro de Asistencia</a>
                </div>
                <div class="footer">
                    Corazón de Jesús © 2022<br>
                    Todos los derechos reservados
                </div>
            </div>
            <div class="col-md-9">
                <div class="datos">
                    <h1>Registro de Asistencia<h1 style="color: #767676; display: inline; font-weight: 500;"> / 2° Grado</h1></h1>
                    <div class="linea-subtitle"></div>
                    <p style="font-weight: bold; margin-bottom: 2rem; font-size: 18px; display: inline;">Fecha: 
                        <p style="display: inline; font-weight: 400; ">11 / 05 / 2022</p>
                    <div class="cajita" style="margin-top: 1rem;">
                    
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef style="width: 20%; text-align: center;"> Nro de Orden </th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.position}} </td>
                        </ng-container>
                      
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Estudiante </th>
                          <td mat-cell style="text-align: center;" *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Estado </th>
                          <td mat-cell style="text-align: center;" *matCellDef="let element"> {{element.status}} </td>
                        </ng-container>                          
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>