<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="bienvenida">
                    <img src="../../../assets/saludo.jpg" class="bienvenidaFoto" alt="Imagen Usuario">
                    <h3>¡Bienvenide {{nombres}}!</h3>
                </div>
                <div class="menu">
                    <a href="/estud/datos" class="button2"><i class="far fa-copy" id="iconcito"></i>Datos Personales</a>
                    <a href="/estud/asistencia" class="button2"><i class="far fa-calendar-check" id="iconcito"></i>Registro de Asistencia</a>
                </div>
                <div class="footer">
                    Corazón de Jesús © 2022
                    Todos los derechos reservados
                </div>
            </div>
            <div class="col-md-9">
                <div class="datos">
                    <img src="../../../assets/imageB.png" class="imageB" alt="Imagen Bienvenida">
                </div>
            </div>
        </div>
    </div>
</body>