<head>
    <title>Colegio Corazón de Jesús</title>
</head>
<nav class="navbar">
    <div class="cuadrito">
        <img src="../../../assets/LogoHeader.png" class="logo" alt="Logo Colegio">
    </div>
    <div class="links">
        <a href="#" class="non-selected" mat-button  routerLinkActive="active" routerLink=""> INICIO </a>
        <a href="#" class="non-selected" mat-button  routerLinkActive="active" routerLink=""> NOSOTROS </a>
        <a href="#" class="non-selected" mat-button  routerLinkActive="active" routerLink=""> CONTACTO </a>
        <a href="#" class="selected" mat-button  routerLinkActive="active" routerLink="/login"> INTRANET </a>
    </div>
</nav>

<router-outlet></router-outlet>