html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color:#F4F4F4;
  font-family: 'Jost', sans-serif;
}

#iconcito {
  color: black;
  margin-right: 1rem;
  font-size: 1.5rem;
  padding: 5px;

}

.fila {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: black;
  font-family: 'Jost', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  display: flex;
  letter-spacing: 0.5px;
  text-transform: uppercase;

}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.button2:hover{
  border-radius: 10px;
  background-color: #FFB94E;
  width: 100%;
  color: white;
  font-weight: 600;
  transition: 0.2s;
  margin-bottom: 20px;

}

.button2:hover .fas{
  color: white !important;
}

.row {
  padding: 30px 100px;
}

.bienvenida{
  background-color: #E7E7E7;
  border-radius: 5px;
  margin: 0 10px 10px 0;
  padding: 18px;
  overflow: auto;
  margin-bottom: 1rem
}


.contenido {
  display: flex;
  padding: 2rem;
  text-align: center;
  align-items: center;
  margin-top: 1rem;
  width: 70%;
  vertical-align: middle;
}

.cardcita {
  display: flex;
  border-radius: 5px;
  text-align: center;
  background-color: #CEB8D7;
  margin-bottom: 1.5rem;
  width: 18rem;

}
.logazo {
  font-size: 32px;
  padding: 2.5rem;
  width: 30%;
  text-align: center;
  align-items: center;
  color: black;
  display: flex;
}

.fecha {
  font-size: 14px;
  margin: 0.5rem;
  text-align: center;
  letter-spacing: 1px;
}

.menu{
  background-color: white;
  border-radius: 5px;
  margin: 0 10px 10px 0;
  width: auto;
  margin-bottom: 1rem
}

.menu a {
  display: flex;

}

.footer{
  background-color: white;
  border-radius: 5px;
  margin: 10px 10px 0 0;
  padding: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #A8A8A8;

}

.datos{
  background-color: white;
  border-radius: 10px;
  margin: 0 0 0 10px;
  padding: 60px;
  display: block;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

h3{
  font-family: 'Jost', sans-serif;
  font-size: 24px;
  font-weight: bold;
  display: inline-flex;
  letter-spacing: 0.5px;
  text-transform: uppercase;

}

h1{
  font-family: 'Jost', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #763991;
}

.linea-subtitle {
  border-top: 4px solid #672a8c;
  border-radius: 5px;
  height: 2px;
  max-width: auto;
  margin-bottom: 25px;
  margin-top: 0px;
}

.imageB{
  text-align: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 3rem;
}

.button1{
  background-color: #672a8c;
  padding: 20px 10px 20px 20px;
  border-radius: 10px;
  line-height: 35px;
  max-width: auto;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;

}

.button2{
  padding: 20px 10px 20px 20px;
  line-height: 35px;
  max-width: auto;
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  width: max-content;
}

.fa{
  display: inline-block;
}
